table, th, td {

    background-color:  rgba(185, 170, 89, 0.071);
  }


table{
    
    display: flex;
    justify-content: center;
   justify-content: space-evenly;
    width: 100%;
}

th{
    color: rgba(73, 53, 3, 0.792);;
    width: 200px;
    text-align: center;
    font-size: 20px;
    height: 80px;
}
td{
    width: 300px;
    text-align: center;
}

div.navbar{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
}
.navbar{
    background-color: rgb(98, 104, 79);
    height: 56px;
    width:100%;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

a:hover{
    background-color: rgb(174, 172, 172);
    color: rgb(41, 41, 73);
}

a{
    text-align: center;
    background-color: white;
    color: rgb(41, 41, 73);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width:100px;

   
}



.contain{
    background-color: rgba(243, 240, 223, 0.792);
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.caninfo{
    background-color: rgb(186, 196, 144);
    color: rgba(105, 76, 8, 0.881);
    font-size: 20px;
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.can_dlt{
      background-color: rgb(186, 196, 144);
      color: rgba(105, 76, 8, 0.881);
    font-size: 20px;
    padding: 10px;
    height: 200px;
    width: 300px;
    word-spacing: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bt:hover{
    background-color: rgb(174, 172, 172);
}

.coo{
    background-color: rgb(186, 196, 144);
    height:600px ;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.input_time{
    background-color: rgba(243, 240, 223, 0.792);
    height: 350px;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.dis_time{
    background-color: rgba(243, 240, 223, 0.792);
    height: 200px;
    width: 350px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.dlt_time{
    background-color: rgba(243, 240, 223, 0.792);
    padding: 10px;
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table{
    background-color: rgba(243, 240, 223, 0.792);
    height:fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}


#feedcontrol{
    background-color: rgb(186, 196, 144);
    width: 100%;
    height: fit-content;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.feedinfo{
    background-color: rgba(243, 240, 223, 0.792);
    margin-top: 10px;
    height:fit-content;
    text-align: left;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 400px;
  
 
}
.feed_dlt{
    background-color: rgba(243, 240, 223, 0.792);
    margin-top: 10px;
    height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 420px;
    color:rgba(134, 95, 11, 0.913);
}

#tab{
    width: 600px;
    height: fit-content;
}

#tab th{
    height: 70px;
}

#tab tr{
    height: 50px;
}

.user_control{
    width: 100%;
    height: 100%;
    border: 2px solid   black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.user_details{
    width: 600px;
  margin-top: -350px;
    height: fit-content;
    /* border: 2px solid   black; */
}

.user_change{
    height: 400px;
    width: 400px;
    padding: 20px;
    height: 800px;
    border: 2px solid   black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    
}
.change{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width:400px;
    border: 2px solid   black;
    color: rgba(105, 76, 8, 0.881);
    word-spacing: 4px;
    font-size: 20px;
}

