
*{
    margin: 0px;
    padding: 0px;
}
.pic{
    
    height: 100%;
    width: 100%;
    background-image: url("../image/backg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.uni {

    height: 100px;
    width: 100%;
    background-color: rgba(115, 157, 187, 0.813);
    text-align: center;
    font-family: Arial, sans-serif; 
    font-size: 40px; 
    font-weight: bold;
    color: #856616; 
  }

.container{
    margin-top: -25px;
    border-radius: 10px;
    margin-left: 120px;
    height: 505px;
    width: 1000px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.left{
    margin-top: 15px;
    background-color: rgba(222, 227, 227, 0.82);
    border-radius: 10px;
    height: 460px;
    width: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right{
    margin-top: 15px;
    background-color: rgba(226, 227, 222, 0.82);
    border-radius: 10px;
    height: 460px;
    width: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.butt{
    border: none;
    height: 50px;
    width: 100px;
    color:black;
    background-color: white;
}


.butt:hover{
    background-color: gray;
}
#time_msg{
    margin-bottom: 13px;
    font-size: 20px;
    height: 90px;
    width: 300px;
    border: 2px  solid black;

}

#incorrect{
   margin-top: 10px;
    font-size: 15px;
    height: 30px;
    width: 200px;
    border: 2px  solid black;
}
label{
    width: 150px;
    display: inline-block;
    text-align: right;
}


#ar:hover{background-color: gray;}
#al:hover{background-color: gray;}
#ur:hover{ background-color: gray;}
#ul:hover{ background-color: gray;}

#sub:hover{
    background-color: gray;
}

#success{
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 10px;
    line-height: 30px;
    
}